# .NET build output
bin/
Content/bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compiled files
*.dll
*.pdb
*.exe
*.deps.json
*.runtimeconfig.json

# NuGet
packages/
*.nupkg

# Operating system files
.DS_Store
Thumbs.db

# Local files
*.zip

# Logs
*.log

#others
*.editorconfig
app.manifest
Icon.bmp
Icon.ico
